{% extends 'boards/layout.html' %}


{%block title%} new topic {%endblock%}

{%block content%}

            <ol class="breadcrumb my-4 p-3 bg-light">
                <li class="breadcrumb-item"><a href="{%url 'index'%}">Boards</a></li>
                <li class="breadcrumb-item"><a href="{%url 'board_topics' board.pk%}">{{board.name}}</a></li>
                <li class="breadcrumb-item active">New Topic</li>
            </ol>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% include 'boards/includes/form.html' %}
                <button type="submit" class="btn btn-success">Post</button>

            </form>
{%endblock%}